<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      const consoleLog = (type, log) =>
        window.ReactNativeWebView.postMessage(
          JSON.stringify({ type: 'Console', data: { type: type, log: log } }),
        );
      console = {
        log: (log) => consoleLog('log', log),
        debug: (log) => consoleLog('debug', log),
        info: (log) => consoleLog('info', log),
        warn: (log) => consoleLog('warn', log),
        error: (log) => consoleLog('error', log),
      };

      function parseOptions(options) {
        var parsed = JSON.parse(options, (k, v) => {
          if (
            typeof v === 'string' &&
            (v.trim().startsWith('function') || v.includes('=>'))
          ) {
            const fnMatch = v.match(/^function\(\s*([^)]+)\s*\)$/);
            if (fnMatch) {
              return window[fnMatch[1]];
            } else {
              console.error('Invalid function format');
              return () => {};
            }
          }
          return v;
        });

        return parsed;
      }
    </script>
    '{{UPLOT_CSS}}' '{{UPLOT_JS}}'
    <style>
      body {
        margin: 0;
        background: transparent;
      }
    </style>
  </head>
  <body>
    <div id="chart"></div>
  </body>
</html>
